<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rishabhshetty.drishtt">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.rishabhshetty.drishtt.MainActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rishabhshetty.drishtt.MainActivityFirst"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.rishabhshetty.drishtt.MainActivityFirst" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rishabhshetty.drishtt.ReadForMe">
            <intent-filter>
                <action android:name="com.example.rishabhshetty.drishtt.ReadForMe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.androis.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name="com.example.rishabhshetty.drishtt.Calling_RS">
            <intent-filter>
                <action android:name="com.example.rishabhshetty.drishtt.Calling_RS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rishabhshetty.drishtt.Tutorial">
            <intent-filter>
                <action android:name="com.example.rishabhshetty.drishtt.Tutorial" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.rishabhshetty.drishtt.StartActivityOnBootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.rishabhshetty.drishtt.MessageSOS">
            <intent-filter>
                <action android:name="com.example.rishabhshetty.drishtt.MessageSOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>